<img src="./images/KnightFall.gif" alt="Image" style="display: block; margin: 0 auto;" />
<p style="text-align:center;">ERROR: @Message</p>

@code {
    [Parameter]
    public string Message { get; set; }

}
