<br/>
<img src="./images/KnightRun.gif" alt="Image" style="display: block; margin: 0 auto;" />
<p style="text-align:center;">Loading @Message ...</p>

@code {
    [Parameter]
    public string Message { get; set; }

}
