.container {
    display: grid;
    grid-template-rows: 400px 100px;
    grid-template-columns: 320px 320px 320px;
    grid-gap: 20px 20px;
    width: 1000px;
    height: 520px;
}

.item {
    border: 1px solid black;
}

.materials {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.recipes {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.crafting {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

.history {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
}
