@page "/"
@using EmailAuth.Blazor.Pages.Home.Components;

<PageTitle>Home</PageTitle>

<div class="logo">
    <img src="./images/EmailAuthProj.png" class="logo" />
</div>

<div class="container">
    <div class="item top-left">
        <HomeInfoComponent></HomeInfoComponent>
    </div>
    <div class="item top-right">
        <HomeInfoComponent></HomeInfoComponent>
    </div>
    <div class="item bottom-left">
        <HomeInfoComponent></HomeInfoComponent>
    </div>
    <div class="item bottom-right">
        <HomeInfoComponent></HomeInfoComponent>
    </div>
</div>