@page "/testpage"
@inherits BaseComponent

<PageTitle>Test Page</PageTitle>

<main class="d-flex justify-content-center align-items-center h-75 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body m-sm-4">
                        <div class="mb-3">
                            <label class="form-label">Potato Name:</label>
                            <input class="form-control form-control-lg" type="text" placeholder="Enter a potato name" @bind-value="input" />
                        </div>
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-primary" @onclick="@(() => SendRequest())">Submit</button>
                            <button type="button" onclick="window.history.back()" class="btn btn-primary btn-rounded">Back</button>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 10px;">
                    <span style="color: red; font-size: 12px;">@message</span>
                </div>

                <div class="text-center mt-3">
                    <button type="button" class="btn btn-primary" @onclick="@(() => TestButton())">Test Button</button>
                    <button type="button" onclick="window.history.back()" class="btn btn-primary btn-rounded">Back</button>
                </div>

            </div>
        </div>
    </div>
</main>

@code {
    private TestPotato testPotato = new TestPotato();
    private string input;
    private string message = "Hmm...";

    private async Task SendRequest()
    {
        //var response = await client.GetAsync($"https://localhost:8000/api/Test/PotatoName?input={input}");
        client.TestRequest();
        /*testPotato = await response.Content.ReadFromJsonAsync<TestPotato>();
        HttpResponseMessage test5 = new HttpResponseMessage();

        if (response != null)
        {
            message = $"We have a \"{testPotato.Name}\" Potato";
        }
        else
        {
            message = $"Something went wrong";
        }*/

        StateHasChanged();
    }

    private async Task TestButton()
    {
        playerData.UpdatePlayerData();
        StateHasChanged();
    }
}
