@page "/testpage"
@inject HttpClientTokenService client

<PageTitle>Test Page</PageTitle>

<main class="d-flex justify-content-center align-items-center h-75 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body m-sm-4">
                        <div class="mb-3">
                            <label class="form-label">Potato Name:</label>
                            <input class="form-control form-control-lg" type="text" placeholder="Enter a potato name" @bind-value="input" />
                        </div>
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-primary" @onclick="@(() => SendRequest())">Login</button>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 10px;">
                    <span style="color: red; font-size: 12px;">@message</span>
                </div>
            </div>
        </div>
    </div>
</main>

@code {
    private TestPotato testPotato = new TestPotato();
    private string input;
    private string message = "Hmm...";

    private async Task SendRequest()
    {
        try
        {
            TestPotato response = await client.GetFromJsonAsync<TestPotato>($"https://localhost:8000/api/Test/PotatoName?input={input}");
            if (response != null)
            {
                message = $"We have a \"{response.Name}\" Potato";
            }
            else
            {
                message = $"Something went wrong";
            }
        }
        catch (Exception ex)
        {
            // Log or handle the exception as needed
            message = $"An error occurred: {ex.Message}";
        }
        StateHasChanged();
    }

}
