@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <p style="text-align: center; font-weight: bold; color: white;">Hello, @context.User.Identity?.Name!</p>
        <div style="text-align: center;">
            <a href="Account" style="color: white; font-weight: bold;">Account</a>
            <span style="color: white; font-weight: bold;"> | </span>
            <a href="Logout" style="color: white; font-weight: bold;">Logout</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div style="text-align: center;">
            <a href="login" style="color: white; font-weight: bold;">Login</a>
            <span style="color: white; font-weight: bold;"> | </span>
            <a href="register" style="color: white; font-weight: bold;">Register</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
