@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <p style="text-align: center; font-weight: bold; color: white;">Hello, @context.User.Identity?.Name!</p>
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <div style="text-align: center;">
            <a href="authentication/login" style="color: white; font-weight: bold;">Login</a>
            <span style="color: white; font-weight: bold;"> | </span>
            <a href="authentication/register" style="color: white; font-weight: bold;">Register</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
