@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="background-image: linear-gradient(to bottom, #222222, #333333)">
        <NavMenu />
    </div>

    <main>
        <div class="top-row" style="height: 25px; background-color: white; color:#111111;">
            <NavBar />
        </div>
        @Body
    </main>
</div>
