@inherits BaseComponent
@inject PlayerDataService playerData

<AuthorizeView>
    <Authorized>
        @if (playerData.DisplayData == true)
        {
            <div class="container-fluid">
                <div class="item level">
                    <img src="./images/icon/level.png" style="height: 32px;" />
                    <b>Level: </b> @playerData.Level
                </div>
                <div class="item schematics">
                    <img src="./images/icon/schematic.png" style="height: 32px;" />
                    <b>Schematics: </b> @playerData.Schematics
                </div>
                <div class="item gold">
                    <img src="./images/icon/coins3.png" style="height: 32px;" />
                    <b>Gold:</b> @playerData.Gold
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <!-- Add content for not authorized users if needed -->
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        playerData.Action += StateHasChanged;
    }
}