<AuthorizeView>
    <Authorized>
        <div style="display: flex; height: 25px; padding: 1%;">

            <div style="display: flex; align-items: center; margin-right: 15px;">
                <img src="./images/icon/level.png" style="height: 23px;" />
                <b>Level: </b> 9
            </div>

            <div style="display: flex; align-items: center; margin-right: 15px;">
                <img src="./images/icon/schematic.png" style="height: 23px;" />
                <b>Schematics: </b> 12/40
            </div>

            <div style="display: flex; align-items: center; margin-right: 15px;">
                <img src="./images/icon/coins3.png" style="height: 23px;" />
                <b>Gold: </b> 575
            </div>

        </div>

    </Authorized>
    <NotAuthorized>
        <!-- Add content for not authorized users if needed -->
    </NotAuthorized>
</AuthorizeView>
