@page "/Login2"
@inject HttpClient client
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

<AuthorizeView>
    <Authorized>
        <p>You are already logged in.</p>
    </Authorized>
    <NotAuthorized>
        







    </NotAuthorized>
</AuthorizeView>

@code {
    UserDTO user = new UserDTO();
    private string message = string.Empty;
    private bool sentCode = false;
    private bool IsUserLoggedIn { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        IsUserLoggedIn = authState.User.Identity.IsAuthenticated;
        if (IsUserLoggedIn == true)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    async Task SendEmail(UserDTO user)
    {
        try
        {
            if (string.IsNullOrEmpty(user.Username) || string.IsNullOrEmpty(user.Email))
            {
                message = "Please fill out the required username and email field";
                return;
            }

            if (sentCode == false)
            {
                var result = await client.PostAsJsonAsync("https://localhost:8000/api/Login/login", user);

                if (result.IsSuccessStatusCode)
                {
                    sentCode = true;

                    var response = await result.Content.ReadFromJsonAsync<AuthResponse>();
                    message = response?.Message ?? "Unknown response";
                }
                else
                {
                    string error = await result.Content.ReadAsStringAsync();
                    message = $"ERROR: {error}";
                }
            }
        }
        catch (Exception ex)
        {
            message = $"An error occurred: {ex.Message}";
        }
    }

    async Task SendEmailGuest(string guestType)
    {
        try
        {
            if (sentCode == false)
            {
                var result = await client.PostAsJsonAsync("https://localhost:8000/api/Login/login", new UserDTO { Username = $"Guest_{guestType}", Email = $"Guest_{guestType}@example.com" });
                Console.WriteLine(result);

                if (result.IsSuccessStatusCode)
                {
                    sentCode = true;

                    var response = await result.Content.ReadFromJsonAsync<AuthResponse>();
                    message = $"{response.Subject} / {response.Contents}";
                    Console.WriteLine(response);

                }
                else
                {
                    string error = await result.Content.ReadAsStringAsync();
                    message = $"ERROR: {error}";
                }
            }
        }
        catch (Exception ex)
        {
            message = $"An error occurred: {ex.Message}";
        }
    }

    async Task ResetGuests()
    {
        try
        {
            var result = await client.PostAsJsonAsync("https://localhost:8000/api/Account/ResetGuest", string.Empty);

            if (result.IsSuccessStatusCode)
            {
                var response = await result.Content.ReadFromJsonAsync<AuthResponse>();
                Console.WriteLine(response);
                message = $"{response.Message}";
            }
            else
            {
                string error = await result.Content.ReadAsStringAsync();
                message = $"ERROR: {error}";
            }
        }
        catch (Exception ex)
        {
            message = $"An error occurred: {ex.Message}";
        }
    }
}