@page "/admin/itemmanager"
@using Blacksmith.Blazor.Pages.Admin.ItemManager.Components;
@using Blacksmith.Blazor.Pages.Admin.Components;

<h5>Outdated Admin Pages (New Controllers, Old Pages), Use Swagger For Now</h5>

<!--
@if (pageState == "Table")
{
    <AdminTableComponent SelectedItem=@selectedItem TransferItem="TransferItem" ChangeState="ChangeState"></AdminTableComponent>
}
@if (pageState == "Create")
{
    <AdminItemManagerCreateComponent CreateItem="@item" ChangeState="ChangeState" ItemSearch="ActivateItemSearch"></AdminItemManagerCreateComponent>
}
@if (pageState == "Edit")
{
    <AdminItemManagerEditComponent EditItem=@item ChangeState="ChangeState" ItemSearch="ActivateItemSearch"></AdminItemManagerEditComponent>
}
@if (pageState == "DisplayItem")
{
    <AdminItemManagerDisplayItem></AdminItemManagerDisplayItem>
}
-->

@code {
    public ItemDTO selectedItem { get; set; }
    public List<ItemDTO> searchedItems { get; set; }




    public string message;
    public string pageState;
    public ItemEditDTO item;
    private AdminItemManagerTableComponent ItemManager;

    protected override async Task OnInitializedAsync()
    {
        pageState = "Table";
    }

    public void TransferItem(ItemEditDTO value)
    {
        item = value;
    }

    public void ChangeState(string value)
    {
        pageState = value;
    }

    public async Task ActivateItemSearch()
    {
        if (ItemManager != null)
        {
            await ItemManager.ItemSearch();
        }
    }
}