@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

<AuthorizeView>
    <Authorized>
        <div style="display: flex; justify-content: center; align-items: center; gap: 8px; padding: 6px 0;">
            <SmallButtonComponent Text="Account" OnClick="@(() => Navigation.NavigateTo("Account"))" />
                <span class="login-display-sep">|</span>
            <SmallButtonComponent Text="Logout" OnClick="Logout" />
        </div>
    </Authorized>
    <NotAuthorized>
        <div style="display: flex; justify-content: center; align-items: center; gap: 8px; padding: 6px 0;">
            <SmallButtonComponent Text="Login" OnClick="@(() => Navigation.NavigateTo("Login"))" />
            <span class="login-display-sep">|</span>
            <SmallButtonComponent Text="Register" OnClick="@(() => Navigation.NavigateTo("Register"))" />
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("token");
        await LocalStorage.RemoveItemAsync("refreshtoken");
        await LocalStorage.RemoveItemAsync("refreshexpiry");
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}
