@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

<AuthorizeView>
    <Authorized>
        <div style="text-align: center;">
            <a href="Account" style="color: white; font-weight: bold;">Account</a>
            <span style="color: white; font-weight: bold;"> | </span>
            <a href="" style="color: white; font-weight: bold;" @onclick="Logout">Logout</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div style="text-align: center;">
            <a href="login" style="color: white; font-weight: bold;">Login</a>
            <span style="color: white; font-weight: bold;"> | </span>
            <a href="register" style="color: white; font-weight: bold;">Register</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("token");
        await LocalStorage.RemoveItemAsync("refreshtoken");
        await LocalStorage.RemoveItemAsync("refreshexpiry");
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}
