@page "/"
@using Blacksmith.Blazor.Pages.Home.Components;

<PageTitle>Home</PageTitle>
<div> <br /></div>
<h2 style="text-align:center;">Blacksmith Web App</h2>

<div class="container">
    <div class="item top-left">
        <HomeInfoComponent></HomeInfoComponent>
    </div>
    <div class="item top-right">
        <HomeInfoComponent></HomeInfoComponent>
    </div>
    <div class="item bottom-left">
        <HomeInfoComponent></HomeInfoComponent>
    </div>
    <div class="item bottom-right">
        <HomeInfoComponent></HomeInfoComponent>
    </div>
</div>