@page "/market"
@inherits BaseComponent
@using Blacksmith.Blazor.Pages.Market.Components;

<PageTitle>Market</PageTitle>
<div> <br /></div>
<h2 style="text-align:center;">Market Page</h2>

<div class="container">
    <div class="item tab-buy">
    </div>
    <div class="item tab-ell">
    </div>
    <div class="item all-items">
        <MarketItemComponent></MarketItemComponent>
    </div>
</div>