@page "/admin/materialmanager"
@using Blacksmith.Blazor.Pages.Admin.MaterialManager.Components;

<h5>Outdated Admin Pages (New Controllers, Old Pages), Use Swagger For Now</h5>

<!--
@if (pageState == "Table")
{
    <AdminMaterialManagerTableComponent TransferItem="TransferItem" ChangeState="ChangeState"></AdminMaterialManagerTableComponent>
}
@if (pageState == "Create")
{
    <AdminMaterialManagerCreateComponent CreateItem="@item" ChangeState="ChangeState" ItemSearch="ActivateItemSearch"></AdminMaterialManagerCreateComponent>
}
@if (pageState == "Edit")
{
    <AdminMaterialManagerEditComponent EditItem=@item ChangeState="ChangeState" ItemSearch="ActivateItemSearch"></AdminMaterialManagerEditComponent>
}
@if (pageState == "DisplayItem")
{
    <AdminMaterialManagerDisplayItem></AdminMaterialManagerDisplayItem>
}
-->

@code {
    public string message;
    public string pageState;
    public ItemEditDTO item;
    private AdminMaterialManagerTableComponent ItemManager;

    protected override async Task OnInitializedAsync()
    {
        pageState = "Table";
    }

    public void TransferItem(ItemEditDTO value)
    {
        item = value;
    }

    public void ChangeState(string value)
    {
        pageState = value;
    }

    public async Task ActivateItemSearch()
    {
        if (ItemManager != null)
        {
            await ItemManager.ItemSearch();
        }
    }
}