@page "/admin"
<!-- attribute [Authorize] -->
@inject HttpClientTokenService client
@inject NavigationManager navigationManager

<PageTitle>Admin</PageTitle>

<button @onclick="NavigateToItemManager">Item Manager</button>
<button @onclick="NavigateToUserManager">User Manager</button>

@code {
    private void NavigateToItemManager()
    {
        navigationManager.NavigateTo("/admin/itemmanager");
    }

    private void NavigateToUserManager()
    {
        navigationManager.NavigateTo("/admin/usermanager");
    }
}
