@page "/admin"
@inherits BaseComponent
@using Blacksmith.Blazor.Pages.Admin.ItemManager.Components;
@using Blacksmith.Blazor.Pages.Admin.UserManager.Components;

<PageTitle>Admin</PageTitle>

<button @onclick="NavigateToItemManager">Item Manager</button>
<button @onclick="NavigateToUserManager">User Manager</button>

@code {
    private void NavigateToItemManager()
    {
        navigationManager.NavigateTo("/admin/itemmanager");
    }

    private void NavigateToUserManager()
    {
        navigationManager.NavigateTo("/admin/usermanager");
    }
}
